@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
   background-color: rgb(211, 211, 211);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
    font-family: "Source Serif 4", serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: #000000;
  
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}
h1{
 text-align: center;
}
.error-page{
    margin-left: auto;
    margin-right: auto;
    height: 30rem
}
img{
align-items: center;
}
.chad{
    border-radius: 90px;
    margin-left : auto;
    margin-right: auto;
}

a {
    color: inherit; 
    text-decoration: none; 
  }
  

