body{
    background-color: #1e1e1e;
    
}
h1{
    color: rgb(15, 190, 190);
 text-align: center;
}
.error-page{
    margin-left: auto;
    margin-right: auto;
    height: 30rem
}
img{
align-items: center;
}