body{
      background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/52/05/80/24/700_FO52058024_9ccddbe31485c92a04793b34b93074c6.jpg,700,464,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,414,jpg)/wall-murals-old-newspaper-background.jpg.jpg");
}
h1{
    color: rgb(15, 190, 190);
 text-align: center;
}
.error-page{
    margin-left: auto;
    margin-right: auto;
    height: 30rem
}
img{
align-items: center;
}
.chad{
    border-radius: 90px;
    margin-left : auto;
    margin-right: auto;
}