.articleCard{
    margin: 1rem;
    padding: 1rem;
    border: 1px;
    background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/52/05/80/24/700_FO52058024_9ccddbe31485c92a04793b34b93074c6.jpg,700,464,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,414,jpg)/wall-murals-old-newspaper-background.jpg.jpg");

}
.cardBody{
    background-color: #dfc88a;

    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 25px;
    margin: 20px;
    transition: box-shadow 0.3s ease;
    align-self: center;
    list-style-type: none;
    text-align: center
}