.commentInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.commentLabel {
    flex: 1 0 100%;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-right: 10px;
}

.commentInput {
    flex: 4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    width: calc(100% - 40px);
    margin-bottom: 10px;
}

.commentInput:focus {
    border-color: #009688;
}

.postButton {
    flex: 1 0 100%; 
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

@media (min-width: 600px) {
    .commentLabel {
        flex: 1;
        margin-bottom: 0;
    }

    .commentInput {
        flex: 4;
        width: auto;
        margin-bottom: 0;
    }

    .postButton {
        flex: 1;
        text-align: right;
    }
}

.postButton:hover {
    background-color: #00796b;
}

.postButton:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}