.latest {
    background-color: rgba(222, 225, 228, 0.76);
    width: 100%;
    overflow: hidden; 
    position: relative;
    height: 50px; 
    display: flex;
    align-items: center;
  }
  
  .marquee {
    display: flex; 
    gap: 50px; 
    animation: marquee 20s linear infinite; 
  }
  
  .marquee h3 {
    white-space: nowrap; 
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(-20%); 
    }
    100% {
      transform: translateX(-100%);
    }
  }
  