


.titleContainer {

  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleH1 {
font-size: xxX-large;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: rgb(0, 0, 0);
  outline: none;
  text-align: center;
}

.titleH1:hover {
  font-variation-settings: "wght" 882; 
  letter-spacing: 1px;
}

.titlep {
  margin-top: -1rem;
  font-size: 1.2em; 
  line-height: 150%;
  text-align: center;
  color: rgb(0, 0, 0);
  letter-spacing: 0.5px;
  transition: 700ms ease; 
}

.titlep:hover {
  font-size: 1.4em; 
  font-variation-settings: "wght" 182; 
}