/* Container for the buttons */
.topicBarCont{
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topic-bar {
  margin-top: -1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffffff00;
  border-radius: 8px;
}

.topic-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ebebeb;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.topic-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.topic-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.topic-button:active {
  background-color: #004085;
  box-shadow: none;
}

@media (max-width: 600px) {
  .topic-bar {
    gap: 0.5rem;
  }}